body {
    background-image: url(/img/layout/cl_bg.png);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #8D9CBF;
}

footer {
    
}

.topbar .fill {
    background: #2D334D;
    color: #fff;
    font-size: 90%;
    z-index: 9999;
}

.brand {
    font-family: 'Corben';
    font-size: 25px;
    text-shadow: 0 0 1px #efefef;
}

.heart {
    color: #FFA6BF;
}