/* 
    Document   : forums
    Created on : Apr 17, 2012, 8:30:42 PM
    Author     : Matthew Dunham
    Description:
        Stylesheets for the Consumer Love Forums
*/

#forum-listing {
    
}

#forum-listing li {
    background-repeat: no-repeat;
    background-position: 10px center;
    padding: 10px 10px 10px 52px;
    margin: 0;
    height: 52px;
}

#forum-listing h3 {
    margin: 0px;
    font-weight: bold;
}

#forum-listing .description {
    color: #999;
    margin: 0;
    padding: 0;
    font-size: 0.75em;
}

.threads li {
    padding: 10px;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}

.threads li:last-of-type {
    border-bottom: none;	
}

.thread-link {
    display: block;
}

.thread-link a {
    font-weight: bold;
    font-size: 18px;
}

.thread-meta {
    display: block;
    padding: 0 0 0 2px;
    font-size: 11px;
}

.thread-info {
    float: left;	
}

.lastpost-info {
    float: right;
    font-size: 11px;
    width: 130px;
    margin: 0;
}

.lastpost-info li {
    padding: 0;
    border: 0;
}

/* Thread View */
.thread-actions {
    overflow: hidden;
    margin-bottom: 10px;
}

.thread-description {
    float: left;
}

#thread-title {
    
}

#thread-title.fixed {
    background: #fff;
    margin-left: -10px;
    width: 650px;
    padding: 10px;
    border-bottom: 1px solid #efefef;
}

#posts {
    margin-left: -10px;
    width: 650px;
}


#posts li:first-of-type {
    border-top: 1px solid #e4e4e4;
    padding-top: 10px;
}

#posts li.mine {
    background: #e5ecff;
}


#posts li {
    border-bottom: 1px solid #e4e4e4;
    overflow: hidden;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

#posts li:hover {

}

.post-meta {
    float: left;
    width: 200px;
    font-size: 10px;
    line-height: 2em;
}

.post-meta img {
    float: left;
    margin-right: 10px;
}

.post-meta a {
    font-weight: bold;
    font-size: 14px;
}

.post-meta time {
    color: #999;
}

.post-content {
    margin-left: 200px;
    padding: 0 10px 10px;
}

.edit-post {
    float: right;
    display: block;
    background: url(/img/icons/comment_edit.png) no-repeat left center; /* sprite this */
    text-indent: 2000em;
    width: 16px;
}

.post-actions {
    margin-bottom: 10px;	
}