<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>

AuthType Basic
AuthName "Consumer Lovin'"
AuthUserFile /srv/share/.htpasswd
Require valid-user
